.advantages {
  padding: 50px 0;
  background-color: $silver-100;
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__item {
    max-width: 275px;
    width: 100%;
    padding: 2px 20px 2px 75px;
    background-repeat: no-repeat;
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
  &__title {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 700;
  }
  &__subtitle {
    color: $dark-500;
  }
}