.footer {
  color: #fff;
  background-color: $dark-800;
  &__top {
    padding: 30px 0;
    border-bottom: 1px solid $dark-500;
  }
  &__logo {
    display: block;
    margin-bottom: 30px;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: top;
  }
  .subscribe {
    &__wrapper {
      display: flex;
    }
    &__text {
      margin-bottom: 18px;
    }
    &__field {
      padding: 10px 12px;
      border: 1px solid transparent;
      outline: transparent;
      border-radius: 6px 0 0 6px;
      &::placeholder {
        font-family: "Lato", sans-serif;
        font-size: 14px;
        line-height: 1;
      }
    }
    &__button {
      padding: 12px 10px 12px 14px;
      font-family: "Lato", sans-serif;
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      border: 1px solid transparent;
      outline: transparent;
      border-radius: 0 6px 6px 0;
      letter-spacing: normal;
    }
  }
  &__list {
    max-width: 468px;
    display: flex;
    flex-wrap: wrap;
  }
  &__item {
    margin-bottom: 18px;
    flex-basis: 33%;
  }
  &__address {
    margin-bottom: 18px;
  }
  &__phone {
    display: block;
    margin-bottom: 18px;
  }
  .social {
    display: flex;
    &__item {
      &:not(:last-child) {
        margin-right: 18px;
      }
    }
  }
  &__bottom {
    padding: 25px 0;
    background-color: $dark-800;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}