body {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 1.4;
  color: $dark-900;
  background-color: #fff;
}

main {
  flex: 1 1 auto;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.breadcrumbs {
  display: flex;
  &__item {
    position: relative;
    margin-right: 6px;
    padding-right: 15px;

    &::after {
      content: '';
      position: absolute;
      width: 6px;
      height: 10px;
      right: 0;
      top: 5px;
      background-image: url("../images/icons/chevron.svg");
      background-repeat: no-repeat;
    }

    &:last-child {
      margin-right: 0;
      padding-right: 0;
    }

    &:last-child::after {
      background-image: none;
    }
  }

  &__link {
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.03em;
    color: $dark-500;
  }
}