.menu {
  font-size: 13px;
  font-weight: 700;
  line-height: 1.2;
  color: #fff;
  .top {
    padding: 15px 0;
    background-color: $dark-800;
    text-transform: uppercase;
    &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .top__list {
        display: flex;
        align-items: center;
      }
      .top__item {
        &:not(:last-child) {
          margin-right: 25px;
        }
      }
    }
    &__contacts {
      display: flex;
      align-items: center;
      .address {
        margin-right: 50px;
        display: flex;
        align-items: center;
      }
      .phone {
        display: flex;
        align-items: center;
      }
      .top__icon {
        margin-right: 15px;
      }
    }
  }
  .bottom {
    padding: 25px 0;
    background-color: $green-900;
    &__wrapper {
      padding-right: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .catalog {
        position: relative;
        z-index: 1;
        &__list {
          position: absolute;
          top: 45px;
          background-color: #fff;
          visibility: hidden;
          opacity: 0;
          transition: visibility 0.5s, opacity 0.5s;
          &--active {
            opacity: 1;
            visibility: visible;
          }
        }
        &__item {
          border-bottom: 1px solid rgba(193, 193, 193, 0.3);
        }
        &__link {
          display: block;
          width: 240px;
          padding: 15px 15px 15px 25px;
          font-size: 16px;
          line-height: 1.2;
          letter-spacing: 1px;
          color: #000;
          border-left: 3px solid transparent;
          transition: color 0.5s, border-left 0.5s;
          &:hover {
            color: $green-900;
            border-left: 3px solid $green-900;
          }
        }
      }
      .catalog__button {
        position: relative;
        border-radius: 5px;
        padding: 15px 40px 15px 60px;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 1px;
        color: $green-900;
        border: 1px solid transparent;
        outline: transparent;
        transition: rotate 2s;
        &::before,
        &::after {
          content: "";
          position: absolute;
          width: 4px;
          height: 1px;
          top: 20px;
          background-color: $green-900;
        }
        &::before {
          right: 17px;
          transform: rotate(-45deg);
        }
        &::after {
          right: 19px;
          transform: rotate(45deg);
        }
        &--active {
          &::before {
            transform: rotate(45deg);
          }
          &::after {
            transform: rotate(-45deg);
          }
        }
        &-burger {
          position: absolute;
          top: 22px;
          left: 18px;
          display: block;
          width: 20px;
          height: 1px;
          background-color: $green-900;
          &::before,
          &::after {
            content: "";
            position: absolute;
            width: 25px;
            height: 1px;
            background-color: $green-900;
            left: 0;
          }
          &::before {
            top: -8px;
          }
          &::after {
            bottom: -8px;
          }
        }
      }
      .search {
        display: flex;
        max-width: 576px;
        width: 100%;
        &__field {
          position: relative;
          max-width: 418px;
          width: 100%;
          background-repeat: no-repeat;
          background-position: 16px 13px;
          padding: 15px 13px 15px 51px;
          border-radius: 10px 0 0 10px;
          border: 1px solid transparent;
          outline: transparent;
          &::placeholder {
            font-family: "Lato", sans-serif;
            font-size: 14px;
            line-height: 1.4;
            letter-spacing: 1px;
            color: $dark-900;;
          }
          &::before {
            content: "";
            position: absolute;
            width: 20px;
            height: 20px;
            top: 0;
            left: 0;
          }
        }
        &__button {
          padding: 15px 52px;
          background-color: $dark-900;
          font-family: "Lato", sans-serif;
          font-size: 14px;
          font-weight: 600;
          color: #fff;
          text-transform: uppercase;
          border-radius: 0px 10px 10px 0;
          border: 1px solid transparent;
          outline: transparent;
        }
      }
      .users {
        display: flex;
        align-items: center;
        &__item:not(:last-child) {
          margin-right: 17px;
        }
        &__button {
          position: relative;
          background-color: transparent;
          border: 1px solid transparent;
          outline: transparent;
        }
        &__text {
          position: absolute;
          display: block;
          width: 18px;
          height: 18px;
          top: -5px;
          left: 0;
          border-radius: 50%;
          background-color: #fff;
          font-size: 10px;
          font-weight: 600;
          text-align: center;
          line-height: 18px;
          color: $red;
        }
      }
    }
  }
}