@mixin line-clamp($lc) {
   -webkit-line-clamp: $lc;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   overflow: hidden;
}

@mixin media($width) {
   @media (max-width: $width) {
      @content
   }
}