.breadcrumbs-wrapper {
  width: 100%;
  height: 65px;
  padding: 25px 0;
  background-color: $silver-100;
}

.catalog-page {
  padding-top: 45px;
  &__title {
    margin-bottom: 50px;
    font-size: 42px;
    font-weight: 700;
    text-align: left;
    text-transform: none;

    @media (max-width: $md4) {
      font-size: 30px;
    }
  }

  &__wrapper {
    padding-bottom: 75px;
    display: flex;
    justify-content: space-between;
  }

  &__content {
    max-width: 960px;
  }

  &__content-filters {
    display: flex;
    align-items: center;
    max-width: 390px;
    margin-left: auto;
    margin-bottom: 50px;

    .jq-selectbox {
      z-index: 1;
    }

    @media (max-width: $md3) {
      margin-bottom: 25px;
    }
  }

  &__filter-mobile {
    display: none;

    @media (max-width: $md4) {
      display: block;
      margin-right: 10px;
      width: 47px;
      height: 47px;
      background-color: $silver-100;
      border-radius: 3px;
      border: 1px solid transparent;
    }
  }

  &__content-select {
    margin-right: 15px;

    .jq-selectbox__select {
      height: 47px;
      padding: 6px 40px 0 15px;
      background: none;
      background-color: #fff;
      border: 1px solid $silver-600;
    }
    
    .jq-selectbox__trigger {
      border-left: none;
    }

    .jq-selectbox__trigger-arrow {
      width: 6px;
      height: 11px;
      border: none;
      background-image: url('../../images/icons/arrow-down.svg');
      background-position: center center;
      background-repeat: no-repeat;
    }
  }

  &__content-btn {
    width: 47px;
    height: 47px;
    margin-right: 15px;
    background-color: $silver-100;
    border: 1px solid transparent;

    @media (max-width: $md4) {
      display: none;
    }

    path {
      fill: $silver-600;
    }
  }

  &__content-btn--active {
    path {
      fill: $green-900;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-bottom: 50px;

    @media (max-width: $md3) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    @media (max-width: $md4) {
      justify-content: space-around;
      gap: 5px;
    }

    .product {
      min-height: 335px;
      max-height: 410px;
    }

    .product__img {
      height: auto;
    }

    .product__wrap {
      height: 125px;
    }
  }

  &__list--list {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 30px;

    @media (max-width: $md2) {
      grid-template-columns: 48% 48%;
      gap: 15px;
    }

    @media (max-width: $md3) {
      grid-template-columns: 4fr;
    }

    .catalog-page__item {
      margin-bottom: 0;
    }

    .product {
      max-width: 100%;
      min-height: 162px;
      flex-direction: row;
      align-items: center;
      padding: 8px 0;

      &__wrapper {
        top: 6px;
        left: 6px;
      }

      &__like {
        top: 65px;
      }

      &__img {
        width: 200px;
        height: auto;
        margin-bottom: 0;

        @media (max-width: $md) {
          width: 160px;
        }

        @media (max-width: $md1) {
          width: 115px;
        }
      }

      &__wrap {
        height: 146px;
        justify-content: space-between;
      }

      &__title {
        max-width: 178px;

        @media (max-width: $md1) {
          max-width: 130px;
        }

        @media (max-width: $md2) {
          max-width: 115px;
          font-size: 12px;
        }
      }

      &__price {
        display: block;
      }
    }
  }

  &__item {
    @media (max-width: $md4) {
      max-width: 170px;
    }
    .product__info {
      width: 100%;
      margin-bottom: 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .product__info-status {
      text-transform: uppercase;
      font-size: 10px;
      font-weight: 700;

      &--available {
        color: $green-900;
      }

      &--unavailable {
        color: $silver-600;
      }

      &--finishing {
        color: $red;
      }
    }
  }

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    @media (max-width: $md3) {
      display: block;
    }
  }

  &__btn {
    @media (max-width: $md3) {
      display: block;
      margin: 0 auto;
      margin-bottom: 20px;
    }
  }

  .pagination {
    @media (max-width: $md3) {
      justify-content: center;
    }
  }
}