.header {
  position: relative;

  &__burger {
    display: none;
    position: relative;
    width: 40px;
    height: 40px;
    background-color: $silver-600;
    border: 1px solid transparent;
    background-color: transparent;

    @media (max-width: $md4) {
      display: block;
    }
  }

  &__burger-line,
  &__burger-line::before,
  &__burger-line::after {
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: $white;
  }

  &__burger-line {
    top: 16px;
    left: 5px;

    &::before {
      content: "";
      top: -10px;
      left: 0;
    }

    &::after {
      content: "";
      bottom: -10px;
      left: 0;
    }
  }

  &__menu {
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #fff;
  }

  &__top {
    min-height: 50px;
    font-size: 13px;
    background-color: $dark-800;
  }

  &__wrapper {
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__contacts {
    padding: 15px 0;
    display: flex;
    align-items: center;
    text-transform: uppercase;
  }

  &__contact {
    position: relative;
    height: 22px;
    padding-left: 35px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid transparent;
    transition: border-color 0.5s, color 0.5s;
    @extend .link-effect;

    &:not(:last-child) {
      margin-right: 50px;

      @media (max-width: $md4) {
        margin-right: 30px;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -10px;
      width: 45px;
      height: 22px;
      background-repeat: no-repeat;
    }

    &--del::before {
      background-image: url("../images/sprite.svg#del");
    }

    &--phone::before {
      background-image: url("../images/sprite.svg#tel");
    }

    @media (max-width: $md4) {
      font-size: 0;
    }
  }

  &__icon {
    margin-right: 15px;
  }

  &__list {
    display: flex;
    align-items: center;

    @include media($md4) {
      display: none;
    }
  }

  &__item {
    @extend .link-effect;
    
    &:not(:last-child) {
      margin-right: 25px;
    }
  }

  &__link {
    text-transform: uppercase;
  }

  &__bottom {
    padding: 25px 0;
    background-color: $green-900;
  }

  &__inner {
    display: flex;
    align-items: center;
  }

  &__logo {
    margin-right: 25px;
    flex-shrink: 1;

    .logo__img {
      @media (max-width: $md4) {
        display: none;
      }
    }

    .logo__mobile {
      display: none;

      @media (max-width: $md4) {
        display: block;
      }
    }
  }
  
  &__catalog {
    margin-right: 30px;

    @media (max-width: $md3) {
      margin: 0 auto;
    }
  }

  &__search {
    margin-right: 45px;
    transition: opacity 0.5s;

    @media (max-width: $md3) {
      position: absolute;
      bottom: -50px;
      left: 0;
      max-width: 100%;
      border: 1px solid $dark-800;
      opacity: 0;
      visibility: hidden;
    }

    &--active {
      @media (max-width: $md3) {
        opacity: 1;
        visibility: visible;
      }
    }

    .search__field {
      @media (max-width: $md3) {
        max-width: 100%;
        border-radius: 0;
      }
    }

    .search__button {
      @media (max-width: $md2) {
        padding-left: 30px;
        padding-right: 30px;
      }

      @media (max-width: $md3) {
        border-radius: 0;
      }
    }
  }

  &__search-icon {
    display: none;
    width: 44px;
    height: 44px;
    margin-right: 15px;
    border: 1px solid transparent;
    background-color: transparent;
    border-radius: 3px;
    background-image: url("../../images/sprite.svg#search-white");
    background-repeat: no-repeat;
    background-position: center center;

    @media (max-width: $md3) {
      display: block;
    }
  }
}

.catalog {
  position: relative;
  z-index: 1;

  &:hover {
    @media (min-width: $md5) {
      .catalog__list {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__button {
    position: relative;
    display: block;
    width: 240px;
    height: 50px;
    border-radius: 5px;
    padding: 15px 45px 15px 60px;
    font-weight: 600;
    background-color: $green-100;
    color: $green-900;
    border: 1px solid transparent;
    outline: transparent;
    transition: color 0.5s, background-color 0.5s, border-color 0.5s;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 4px;
      height: 1px;
      top: 20px;
      background-color: $green-900;
    }

    &::before {
      right: 17px;
      transform: rotate(-45deg);
    }

    &::after {
      right: 19px;
      transform: rotate(45deg);
    }

    &:focus {
      border-color: #4D800C;
      background-color: $green-100;
    }

     &:hover {
       background-color: $green-100;
     }

     &:active {
       color: rgba(99, 166, 14, 0.5);
     }

     @media (max-width: $md5) {
       display: none;
     }

     &--mobile {
       display: none;
       width: 160px;

       @media (max-width: $md5) {
         display: block;
       }
     }
  }

  &__button-line {
    position: absolute;
    top: 22px;
    left: 18px;
    display: block;
    width: 20px;
    height: 1px;
    background-color: $green-900;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 25px;
      height: 1px;
      background-color: $green-900;
      left: 0;
    }

    &::before {
      top: -8px;
    }

    &::after {
      bottom: -8px;
    }
  }

  &__list {
    position: absolute;
    top: 45px;
    background-color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s;
  }

  &__item {
    border-bottom: 1px solid rgba(193, 193, 193, 0.3);
  }

  &__link {
    display: block;
    width: 240px;
    padding: 15px 15px 15px 25px;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 1px;
    color: #000;
    border-left: 3px solid transparent;
    transition: color 0.5s, border-left 0.5s;

    &:hover {
      color: $green-900;
      border-left: 3px solid $green-900;
    }
  }
}

.users {
  display: flex;
  align-items: center;

  &__item:not(:last-child) {
    margin-right: 17px;

    @media (max-width: $md4) {
      display: none;
    }
  }

  &__button {
    position: relative;
    background-color: transparent;
    border: 1px solid transparent;
    outline: transparent;
  }

  &__text {
    position: absolute;
    display: block;
    padding: 4px;
    top: -5px;
    right: 30px;
    border-radius: 50%;
    background-color: #fff;
    font-size: 10px;
    font-weight: 600;
    text-align: center;
    line-height: 1;
    color: $red;
  }
}