<ul class="filters">
  <li class="filters__item">
    <button class="filters__btn filters__btn--active">Категории</button>
    <div class="filters__item-wrapper">
      <ul class="filters__list">
        <li class="filters__list-item">
          <a class="filters__list-link" href="#">Овощи и фрукты</a>
        </li>

        <li class="filters__list-item">
          <a class="filters__list-link" href="#">Бакалея</a>
        </li>

        <li class="filters__list-item">
          <a class="filters__list-link" href="#">Молочные продукты</a>
        </li>

        <li class="filters__list-item">
          <a class="filters__list-link" href="#">Хлеб</a>
        </li>

        <li class="filters__list-item">
          <a class="filters__list-link" href="#">Мясо</a>
        </li>

        <li class="filters__list-item">
          <a class="filters__list-link" href="#">Колбаса</a>
        </li>

        <li class="filters__list-item">
          <a class="filters__list-link" href="#">Рыба</a>
        </li>

        <li class="filters__list-item">
          <a class="filters__list-link" href="#">Алкоголь</a>
        </li>

        <li class="filters__list-item">
          <a class="filters__list-link" href="#">Напитки</a>
        </li>

        <li class="filters__list-item">
          <a class="filters__list-link" href="#">Торты</a>
        </li>

        <li class="filters__list-item">
          <a class="filters__list-link" href="#">Бакалея</a>
        </li>

        <li class="filters__list-item">
          <a class="filters__list-link" href="#">Чай, кофе</a>
        </li>
      </ul>
    </div>

  </li>

  <li class="filters__item">
    <button class="filters__btn filters__btn--active">Предложения</button>
    <div class="filters__item-wrapper">
      <form action="#" class="filters__form">
        <label class="filters__label">
          <input type="checkbox" class="filters__input">
          <span class="filters__label-text">Со скидкой</span>
        </label>
  
        <label class="filters__label">
          <input type="checkbox" class="filters__input">
          <span class="filters__label-text">Новинка</span>
        </label>
  
        <label class="filters__label">
          <input type="checkbox" class="filters__input">
          <span class="filters__label-text">Хит</span>
        </label>
      </form>
    </div>
  </li>

  <li class="filters__item">
    <button class="filters__btn filters__btn--active">Бренд</button>
    <div class="filters__item-wrapper">
      <form action="#" class="filters__form">
        <label class="filters__label">
          <input type="checkbox" class="filters__input">
          <span class="filters__label-text">CocaCola</span>
        </label>
  
        <label class="filters__label">
          <input type="checkbox" class="filters__input">
          <span class="filters__label-text">Pepsi</span>
        </label>
  
        <label class="filters__label">
          <input type="checkbox" class="filters__input">
          <span class="filters__label-text">Sprite</span>
        </label>
  
        <label class="filters__label">
          <input type="checkbox" class="filters__input">
          <span class="filters__label-text">Fanta</span>
        </label>
  
        <label class="filters__label">
          <input type="checkbox" class="filters__input">
          <span class="filters__label-text">RedBull</span>
        </label>
  
        <label class="filters__label">
          <input type="checkbox" class="filters__input">
          <span class="filters__label-text">Dr Pepper</span>
        </label>
      </form>
    </div>
  </li>

  <li class="filters__item filters__btn--active">
    <button class="filters__btn">Цена</button>
    <div class="filters__item-wrapper">
      <div class="filters__item-range">
        <input type="text" class="filters__range" name="my_range">
      </div>
      <div class="filters__item-controls">
        <input type="text" class="js-input-from" value="100">
        <input type="text" class="js-input-to" value="1000">
      </div>
    </div>
  </li>
</ul>